<div>
	<div layout="row" flex>
		<span flex></span>
		<md-button class="md-primary" ng-click="isActive()">
			Expand Graph
		</md-button>	
	</div>
	<div layout="row"  class="log-bar" flex>
		<task-line class="task-line" ng-class="{inactive: inactive}" ng-repeat="(tasks_key, tasks) in task_lines" style="top:{{15*tasks_key}}px">
			
			<div data-id="{{tasks.task_id}}" ng-repeat="(line_key, line) in tasks.lines" class="time-marker" style="left:{{line.start}}%; width:{{line.width}}%; background-color:{{tasks.color}}; "></div>
			<task-info class="task-info" style="left:{{line.start}}%"">
				{{tasks.task_id}}
				+Other Information
			</task-info>

		</task-line>
		<div class="scale">
			<span class="time" style="left:{{scales.day_begin.location}}%">{{scales.day_begin.date | date : 'h:mm a' }}</span>
			<span class="time" style="left:{{scales.day_end.location}}%">{{scales.day_end.date | date : 'h:mm a' }}</span>
			<span class="time" style="left:33.3333%;">8:00 AM</span>
			<span class="time" style="left:50%">12:00 PM</span>
			<span class="time" style="left:66.6666%">4:00 PM</span>
			<span class="time" style="left:83.3333%">8:00 PM</span>
		</div>
	</div>	
</div>
