<div class="nav-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3" ng-controller="HeaderController">
				<header></header>
			</div>

			<div class="col-xs-9">
				<div class="logs-control-bar">
					<form name="queryLogTimes" ng-submit="getlogs(startDate, endDate)" novalidate>
						<div class="title">
							Query logged time from
						</div>

						<formgroup>
							<md-content>
								<md-datepicker id="startingDate" ng-model="startDate" md-placeholder="Start Date" md-max-date="maxDate" required="" name="startDate"></md-datepicker>
								<div ng-show="queryLogTimes.$submitted || queryLogTimes.startDate.$touched">
							      <span ng-show="queryLogTimes.startDate.$error.required">Select a Date.</span>
							    </div>
							</md-content>
						</formgroup>

						<formgroup>
							<md-content>
								<md-datepicker id="endDate" ng-model="endDate" md-placeholder="End Date" md-max-date="maxDate" required="" name="endDate"></md-datepicker>
								<div ng-show="queryLogTimes.$submitted || queryLogTimes.endDate.$touched">
							      <span ng-show="queryLogTimes.endDate.$error.required">Select a Date.</span>
							    </div>
							</md-content>
						</formgroup> 

						<formgroup>
							<input type="submit" id="submit" value="Query"  ng-disabled="queryLogTimes.startDate.$error.required || queryLogTimes.endDate.$error.required" disabled/>
						</formgroup>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div id="logs-display" style="margin-top:100px;">
		<button ng-click="get_todays_logs()">Get Todays Logs</button>
		
		<div class="row">
			<h2 ng-if="queryLog">Query Summarys:</h2>
		</div>
		<div class="row day-log" ng-repeat="(key1, days) in queryLog">
			 
			<div class="col-xs-4">
				<h3 style="border-bottom: 1px solid black; text-align:center; padding:10px 0;">{{ days.date | readableDateF }}</h3>
				<h4 style="text-align:center; padding:10px 0;">{{days.time_logged | returnTime}} Tracked</h4>
				 
				<ul ng-repeat="(key2, task) in days.tasks">
					<li style="list-style-type: none;">
						{{task.task_id}} : <span class="logged-time"> {{ task.total_time | returnTime }}</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-8">
				<logbar ng-if="days" data="{{days}}"></logbar>
			</div>
		
		</div>
	</div>
</div>