<div class="nav-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3" ng-controller="HeaderController">
				<header></header>
			</div>

			<div class="col-xs-9">
				<div class="logs-control-bar">
					<form name="queryLogTimes" ng-submit="getlogs(startDate, endDate)" >
						<div class="title">
							Query logged time from
						</div>

						<formgroup>
							<md-content><md-datepicker id="startingDate" ng-model="startDate" md-placeholder="Start Date" md-max-date="maxDate"></md-datepicker></md-content>
						</formgroup>

						<formgroup>
							<md-content><md-datepicker id="endDate" ng-model="endDate" md-placeholder="End Date" md-max-date="maxDate"></md-datepicker></md-content>
						</formgroup> 

						<formgroup>
							<input type="submit" id="submit" value="Query" />
						</formgroup>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div id="logs-display" style="margin-top:100px;">
		<button ng-click="get_todays_logs()">Get Todays Logs</button>
		
		Tasks summary
		<div ng-repeat="(key1, days) in queryLog">
			{{days.date}}: Total time logged - {{days.time_logged | returnTime}}
			<ul ng-repeat="(key2, task) in days.tasks">
				<li>
					<div class="col-xs-6">
						Task id: {{task.task_id}} -- <span class="logged-time"> {{ task.total_time | returnTime }}</span>
					</div>
					<div class="col-xs-6">
						<logbar data="{{task}}"></logbar>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>