<headernav ng-controller="HeaderController"></headernav>

<!-- Filter -->
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
  <md-toolbar class="md-theme-light" flex-align="center center" ng-controller="RightCtrl">
    <md-button ng-click="close()" class="md-primary">
      Close
    </md-button>
  </md-toolbar>

  <md-content layout-padding>
	  <md-list-item ng-repeat="status in taskStatuses">
	    <p> {{ status.name }} </p>
	    <md-checkbox class="md-primary" ng-model="status.isActive"></md-checkbox>
	  </md-list-item>
  </md-content>
</md-sidenav>

<md-content layout-padding flex style="background-color: rgba(0,0,0,0.05);">

	<div class="main-content">
		<div layout="row" layout-align="enter" flex>
			
			<div class="center" flex="10">
					<label>Time</label>
			</div>

			<div class="center" flex="5">
					<label>Priority</label>
			</div>

			<div class="center" flex="5">
					<label>Status</label>
			</div>

			<div class="center" flex="10">
					<label>Task ID</label>
			</div>

			<div class="center" flex="10">
				<div ng-click="order(task.fields.created)" ng-class="{reverse:reverse}" class="task-date-title">
					<label> Date </label>
				</div>	
			</div>

			<div flex="60">
				<div class="task-summary-title">
					<label> Description </label>
				</div>			
				<!-- <timer autostart="false" countdown="90061"> {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}</timer> -->
				<!-- <button  ng-click="updateTaskView(accountNum, taskNum)"> View Task </button> -->		
			</div>
		</div>
		<div class="account-list">
			<div ng-repeat="(taskNum, task) in taskList | statusF:taskStatuses | filter:search.txt | orderBy:predicate:reverse" ng-controller = "taskController">
				<div class="select-default task-item" 
					ng-class = "{'select-active': isActive }"
					ng-click="updateRightView(taskNum); toggleClick(taskNum); timerToggle()"
					layout="row" 
					layout-align="center"
					flex>
		
					<div class="center" flex="10">
						<div class="logged-time">{{ timeLogged | returnTime }}</div>
						<timer class="timer" autostart="false">{{hhours}}.{{mminutes}}.{{sseconds}}</timer> <!-- ng-attr-start-time="timerStart" -->
				  	</div>
				
					<div class="center" flex="5">
						<img class="task-priority" src="{{ task.fields.priority | priorityF }}">
					</div>

					<div class="center" flex="5">
						<div class="task-status">  {{ task.fields.status.name }}</div> 
					</div>

					<div class="center" flex="10">
						<!-- <div class="task-priority"> {{ task.fields.priority.name }} </div> -->
						<a href="{{ taskUrl(task.key, task.self) }}" target="_blank" ><div class="task-name align-left">{{ task.key }}</div></a>
					</div>
				
					<div class="center" flex="10">
						<div class="task-date">  {{  task.fields.created | dateF }}  </div>
					</div>

					<div flex="60" class="task-summary-container">
						<div class="task-summary">{{ task.fields.summary }}</div>			
						<!-- <timer autostart="false" countdown="90061"> {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}</timer> -->
						<!-- <button  ng-click="updateTaskView(taskNum)"> View Task </button> -->		
					</div>

				</div>
				<div ng-if='isActive' class="task-body" ng-class = "{'select-active': isActive }" layout="row" layout-padding>
					
					<div flex="70" style="margin-left:45px;">
						<h4> Description: </h4>
						<pre> {{task.fields.description}} </pre> 
					</div>
					<div flex="30" >
						<div layout="row" flex layout-padding ng-if="task.fields.fixVersions[0].name">
							<div> Release: {{task.fields.fixVersions[0].name}} </div> 
						</div>

						<div layout="row" flex layout-padding ng-if="task.fields.fixVersions[0].released">
							<div> Released: {{task.fields.fixVersions[0].released}}</div>
						</div>

						<div layout="row" flex layout-padding  ng-if="task.fields.duedate">
							<div> Due: {{task.fields.duedate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
</md-content>