<headernav ng-controller="HeaderController"></headernav>

<!-- Filter -->
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
	<md-toolbar class="md-theme-light" flex-align="center center" ng-controller="RightCtrl">
		<md-button ng-click="close()" class="md-primary">
			Close
		</md-button>
	</md-toolbar>

	<md-content layout-padding>
		<md-list-item ng-repeat="status in taskStatuses">
			<p> {{ status.name }} </p>
			<md-checkbox class="md-primary" ng-model="status.isActive"></md-checkbox>
		</md-list-item>
	</md-content>
</md-sidenav>

<md-content id="main" layout-padding flex style="background-color: rgba(0,0,0,0.05);">

	<div class="main-content">
		<div layout="row" layout-align="enter">
			
			<div class="center" flex >
				<label>Time</label>
			</div>

			<div class="center" flex-xs="15" flex>
				<label>Priority</label>
			</div>

			<div class="center" flex hide-sm hide-xs>
				<label>Status</label>
			</div>

			<div class="center" flex >
				<label>Task ID</label>
			</div>

			<div class="center" flex >
				<div ng-click="order(task.fields.created)" ng-class="{reverse:reverse}" class="task-date-title">
					<label> Date </label>
				</div>	
			</div>

			<div flex="35" flex-gt-sm="45" hide-xs>
				<div class="task-summary-title">
					<label> Description </label>
				</div>			
				<!-- <timer autostart="false" countdown="90061"> {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}</timer> -->
				<!-- <button  ng-click="updateTaskView(accountNum, taskNum)"> View Task </button> -->		
			</div>
		</div>
		{{search_text}}
		<div class="account-list">
			<div ng-repeat="(taskNum, task) in taskList | statusF:taskStatuses | filter:taskFilterText | orderBy:predicate:reverse" 
				ng-controller = "taskController" style="z-index:2">
				
				<task-bar class="select-default task-item" ng-class = "{'select-active': isActive }" isActive="{{isActive}}"ng-click="updateRightView(task); toggleClick(taskNum); timerToggle()" layout="row" layout-align="center">
					<div class="center" flex>
						<div class="logged-time">{{ timeLogged | returnTime }}</div>
						<timer class="timer" autostart="false">{{hhours}}.{{mminutes}}.{{sseconds}}</timer> <!-- ng-attr-start-time="timerStart" -->
					</div>

					<div class="center" flex-xs="15" flex>
						<img class="task-priority" src="{{ task.fields.priority | priorityF }}">
					</div>

					<div class="center" flex hide-sm hide-xs>
						<div class="task-status">  {{ task.fields.status.name }}</div> 
					</div>

					<div class="center" flex>
						<div class="task-name align-left">{{ task.key }}</div>
						<div style="font-size:0.8em;" hide-gt-sm>{{ task.fields.status.name }}</div>
					</div>

					<div class="center" flex>
						<div class="task-date">  {{ task.fields.created | dateF }}  </div>
					</div>
					<div flex-gt-sm="45" flex="35" class="task-summary-container" hide-xs>
						<div class="task-summary">{{ task.fields.summary }}</div>			
						<!-- <timer autostart="false" countdown="90061"> {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}</timer> -->
						<!-- <button  ng-click="updateTaskView(taskNum)"> View Task </button> -->		
					</div>
				</task-bar>

				<div ng-hide='!isActive' class="task-body animate-show" style="z-index:1">
			  	<div layout="row" layout-padding layout-align="end center">
			  		<md-button href="{{ taskUrl(task.key, task.self) }}" target="_blank"  class="md-primary" flex-gt-xs="30" flex-gt-sm="20" flex> 
			  		 	To Task
			  		</md-button>
			  	</div>	
			  		
			  	<div layout="row" layout-xs="column" ng-if="task.fields.description" layout-padding>
			  		
				  	<div flex-gt-xs="15" flex>
					  		<h4> Description: </h4>
						</div>

						<div ng-if="task.fields.description" flex-gt-xs="70" flex>
							<pre> {{task.fields.description}} </pre> 
						</div>
						<div flex-gt-xs="30" flex>
							<div ng-if="task.fields.fixVersions[0].name" layout="row" flex layout-padding>
								<div> Release: {{task.fields.fixVersions[0].name}} </div> 
							</div>

							<div layout="row" flex layout-padding ng-if="task.fields.fixVersions[0].released">
								<div> Released: {{task.fields.fixVersions[0].released}}</div>
							</div>

							<div layout="row" flex layout-padding  ng-if="task.fields.duedate">
								<div> Due: {{task.fields.duedate}}</div>
							</div>
						</div>	
			  	</div>
									
					<div layout="row" layout-xs="column" layout-padding>
						<div flex-gt-xs="15" flex>
							<h4> Comments: </h4>
						</div>
					
						<md-list ng-if="task_comments" flex>
							<div ng-if="non_visible_tasks" class="nonvisible-banner">
								<span class="circle" ng-click="viewAllComments()">{{non_visible_tasks}}</span>
							</div>

							<md-list-item class="my-message" ng-repeat="(comment_num, comment) in task_comments | limitTo:comment_limit:comment_limit_end">
								
								<div ng-if="!comment.isCurrentUser" layout="row" layout-align="start start" style="width:100%;">
									<div class="message-id left" flex="15">
										<div class="triangle"></div>
										<span hide-xs>{{comment.author.displayName}}</span>
										<img src="{{comment.author.avatarUrls['32x32']}}" alt="">
									</div>	
									<pre class="message-body left" flex-gt-xs="70" flex>{{comment.body}}</pre>
								</div>
				
								<div ng-if="comment.isCurrentUser" layout="row" layout-align="end start" style="width:100%;">
									<pre class="message-body right" flex-gt-xs="70" flex>{{comment.body}}</pre>
									
									<div class="message-id right" flex="15">
										<div class="triangle"></div>
										<img src="{{comment.author.avatarUrls['32x32']}}" alt="">
										<span hide-xs>{{comment.author.displayName}}</span>
									</div>	
								</div>
							</md-list-item>

							<md-list-item class="my-message">
								<form name="comment_form" ng-submit="comment_form.$valid && addComment(task, add_comment.body, comment_form)" layout="row" layout-align="end start" style="width:100%;" novalidate>
									<md-input-container flex-gt-xs="70" flex>
										<textarea aria-label="my-comment" class="message-body right task-add-comment"  type="text" name="my_comment" required="" ng-model="add_comment.body" ng-minlength="1" flex></textarea>
										<div class="task-comment-error" ng-show="comment_form.$submitted || comment_form.my_comment.$touched">
											<div class="md-warn" ng-show="comment_form.my_comment.$error.required">You must have something to say...</div>
										</div>
									</md-input-container>

									<div class="message-id right" flex="15">
										{{currentUser.userNamePrefered}}
										<img src="{{currentUser.userProfileImage}}" alt="">
										<md-input-container>
											<md-button aria-label="button" type="submit" class="md-primary" bg-disabled="commentButtonDissabled">
												 Send
											</md-button>
										</md-input-container>
									</div>	
								</form>
							</md-list-item>	
						</md-list>
						
						<md-list ng-if="!task_comments" flex>
							<h4>No Comments</h4>
							
							<md-list-item class="my-message">
								<form name="comment_form" ng-submit="comment_form.$valid && addComment(task, add_comment.body, comment_form)" layout="row" layout-align="end start" style="width:100%;" novalidate>	
									<md-input-container flex-gt-xs="70" flex>
										<textarea aria-label="my-comment" class="message-body right task-add-comment"  type="text" name="my_comment" required="" ng-model="add_comment.body" ng-minlength="1" flex></textarea>
										<div class="task-comment-error" ng-show="comment_form.$submitted || comment_form.my_comment.$touched">
											<div class="md-warn" ng-show="comment_form.my_comment.$error.required">You must have something to say...</div>
										</div>
									</md-input-container>

									<div class="message-id right" flex="15">
										{{currentUser.userNamePrefered}}
										<img src="{{currentUser.userProfileImage}}" alt="">
										<md-input-container>
											<md-button aria-label="button" type="submit" class="md-primary" bg-disabled="commentButtonDissabled">
												Send
											</md-button>
										</md-input-container>
									</div>	
								</form>
							</md-list-item>	
						</md-list>
					</div>
				</div>
			</div>
		</div>
		
		<div id="actionNav" ng-controller="actionNavigationBar">
			<md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab md-primary">
						<md-tooltip md-direction="top" md-visible="tooltipVisible">Actions</md-tooltip>
						<md-icon md-svg-src="img/svg/ic_add_black_24px.svg" aria-label="plus"></md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<div ng-repeat="item in items">
						<md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="openDialog($event, item)">
							<md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
							 	{{item.name}}
							</md-tooltip>
							<md-icon class="dartPath" md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
						</md-button>
					</div>
				</md-fab-actions>
			</md-fab-speed-dial>	
		</div>
	</div>  
</md-content>