/* app css stylesheet */
.version {
  color:rgba(0,0,0,0.1);
}

.top-nav {
  position:fixed;
  top:0;
  width:inherit;
  padding-top:20px;
  border-bottom: 0.1em solid black;
  background-color:white;
  z-index:10;

}
.main-content{
  margin-top:55px;
}

.top-nav ul {
  display:inline-block;
}

.top-nav .align-right{
  float:right;
  list-style: none;
}

.user-name {
  margin-top:1px;
  margin-bottom:30px;
}

.menu {
  list-style: none;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu li {
  display: inline-block;
}

.menu li a {
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top:0.1em;
  padding-bottom:0.1em;
}

.menu > li:before {
  content: "|";
}

.menu > li:nth-child(1):before {
  content: "";
}

.task-item{
  padding:20px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  border-top:1px solid rgba(0,0,0,0.1);
}
.right-view {
  /*position:fixed;
  right:0;
  top:150px;
  width:33%;*/
}
.task-item img {
  height:1em;
}
.right-view img{
  height:1em;
  margin-right:5px;
}

.right-view-title{
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.select-default.select-active{
  opacity:1;
}
.select-default{
  opacity:0.3;
}

.task-priority,
.task-status,
.task-name,
.task-summary {
  display:inline-block;

}
.task-summary{
  display:inline-block;
  font-weight:600;
}
