.day-log{
	border-bottom:1px solid rgba(black,0.5);
	padding:20px 0;
	&:last-child{
		border-bottom:none;
	}
}

.logs-control-bar{
	margin-top:4px;
	formgroup{
		display:inline-block;
	}
	
	.title{
		display:inline-block;
		font-size:1.0em;
		color:$my_white;
	}

	md-content{
		md-datepicker{
			.md-button.md-icon-button{
				padding:0;
				height:inherit;
			}
			.md-datepicker-input-container{
				.md-datepicker-input,
				input{
					@include font-style;
					color:black;
					textarea, 
					select{
						@include font-style;
						color:black;
					}	
				}
				&.md-datepicker-input-focused{
					border-bottom-width:1px;
				}
			}
			.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, 
			.md-datepicker-triangle-button .md-datepicker-expand-triangle{
				border-top-color:rgba(black,0.5);
				&:hover{
					border-top-color:rgba(black,1);
				}
			}
		}		
	}
}

#logs-display{
	margin-top:50px;
}