
.small-text{
	display:inline-block;
	font-size:14px;
	color:$my_white;
	text-align:center;
	line-height:1em;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.navigation-block{
	display:block;
	height:100%;
}

.nav-icon {
	margin:0 30px 0 0;
	svg{
		circle,
		polygon,
		rect,
		path{
			fill:rgba(0,0,0,0.15);
		}
		&:hover{
			circle,
			polygon,
			rect,
			path{
				fill:rgba(0,0,0,0.15);
			}
		}	
	}
}

#actionNav{
	position: fixed;
    bottom: 10px;
    right: 10px;
}