.account-settings {

	.user-accounts,
	.user-information{
		padding:15px;
		background-color:white;
		@include box-shadow(rgba(20,20,20,0.3) 0 0 5px);
	}
	
	.user-account{
		margin-bottom:10px;
	}
	
	.user-information{
		input{
			padding:0 5px;
			line-height:2em;
		}
	}

	.user-add-account{
		input{
			padding:0 5px;
			line-height:2em;
		}
	}
}