svg{
	display:inline-block;
	width:27px;
	font-size:inherit;
  vertical-align: middle;

	circle,
	polygon,
	rect,
	path{
		fill:$my_white;
	}
	&:hover{
		circle,
		polygon,
		rect,
		path{
			fill:$my_white_alt;
		}
	}	
}
.disabled{
	display:none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes flash {
    from { circle,polygon,rect,path{fill:$my_white_alt;}}
    to { circle,polygon,rect,path{fill:$my_white;}}
}
@-webkit-keyframes flash {
    from { circle,polygon,rect,path{fill:$my_white_alt;}}
    to { circle,polygon,rect,path{fill:$my_white;}}
}
@keyframes flash {
    from {circle,polygon,rect,path{fill:$my_white_alt;}}
    to {tcircle,polygon,rect,path{fill:$my_white;}}
}

.spinner{
	-webkit-animation-name: flash; //spin
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: flash; //spin
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: flash; //spin
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: flash; //spin
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
	animation: spin 1s infinite linear;

}