.logs-control-bar{
	formgroup{
		display:inline-block;
	}
	
	.title{
		display:inline-block;
		font-size:1.0em;
		color:$my_white;
	}

	md-content{
		margin-top:10px;
		margin-bottom:10px;
		padding-right:10px;
		overflow:inherit;
		textarea, 
		select{
			@include font-style;
		}
	}
}