.logs-control-bar{
	margin-top:4px;
	formgroup{
		display:inline-block;
	}
	
	.title{
		display:inline-block;
		font-size:1.0em;
		color:$my_white;
	}

	md-content{
		margin-top:5px;
		padding-right:10px;
		overflow:inherit;
		background-color: transparent;
		md-datepicker{
			background-color: transparent;
			.md-button.md-icon-button{
				padding:0;
				height:inherit;
			}
			.md-datepicker-input-container{
				.md-datepicker-input,
				input{
					@include font-style;
					color:$my_white;
					textarea, 
					select{
						@include font-style;
						color:$my_white;
					}	
				}
				&.md-datepicker-input-focused{
					border-bottom-width:1px;
				}
			}
			.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, 
			.md-datepicker-triangle-button .md-datepicker-expand-triangle{
				border-top-color:rgba($my_white,0.5);
				&:hover{
					border-top-color:rgba($my_white,1);
				}
			}
		}		
	}
}


#logs-display{
	margin-top:50px;
}