/* app css stylesheet */

.main-content {
  background-color:transparent;
  
  .center{
    text-align:center;
  }

  .account-list{
    background-color:transparent;
    div:first-child .task-item{
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }  

    .task-item {
      margin-top:0;
      background-color:white;
      border-left:3px solid transparent;
      padding: 15px 20px 15px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      img {
        height: 1.5em;
        position: relative;
        vertical-align: middle;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .top-nav {
    ul {
      display: inline-block;
    }
    .align-right {
      float: right;
      list-style: none;
    }
  }

  .user-name {
    margin-top: 1px;
    margin-bottom: 30px;
  }


  ul.menu {
    height: 55px;
  }

  .menu {
    list-style: none;
    li {
      display: inline-block;
      height: 55px;
      line-height: 55px;
      a {
        vertical-align: middle;
        padding-right: 0.3em;
        padding-left: 0.3em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-right: 1px solid blue;
        border-left: 1px solid blue;
        &:last-child {
          border-right: 1px solid transparent;
        }
        &:first-child {
          border-left: 1px solid transparent;
        }
      }
    }
  }

  

  .right-view img {
    height: 1em;
    margin-right: 5px;
    vertical-align: middle;
  }

  .timer {
    display:none;
    vertical-align: middle;
  }

  .logged-time{
    display:inline-block;
  }

  .paused {
    color: red;
    opacity: 0.5;
  }

  .no-padding {
    padding: 0;
  }

  .padding-bottom {
    padding-bottom: 10px;
  }

  .right-view-title {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  
  .task-body{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .animate-show {
     max-height:3500px;
     opacity:1;
  }

  .animate-show.ng-hide-add, 
  .animate-show.ng-hide-remove {
    transition: all ease 0.25s;
  }

  .animate-show.ng-hide {
    max-height:0;
    opacity:0;
  }

  .select-default {
    &.select-active {
      transition:margin ease 0.25s;
      opacity: 1;
      margin-top:10px;
      border-left: 3px solid rgba(50, 50, 100, 1);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      @include box-shadow(rgba(black ,0.5) 0 0 6px);

      .timer{
        display: inline-block;
      }
      .logged-time{
        display:none;
      }
        .task-summary-container{
          .task-summary{
            white-space:normal;
          }
        }
    }
    /*opacity:0.3; */
  }

  .task-status, .task-name, .task-date, .task-summary {
    vertical-align: top;
    display: inline-block;
  }

  .task-date {
   
  }

  .task-priority {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
  }

  .task-date-title {
    font-weight: 700;
    text-align: center;
  }

  img.task-priority {
    line-height: 1.5em;
  }
  .task-summary-container{
    overflow:hidden;
    .task-summary {
        padding-left: 20px;
        display: inline-block;
        font-weight: 600;
        white-space: nowrap;
        /*max-width:450px;*/
      }
  }
  

  .task-title-date {
    padding-right: 20px;
    &:after {
      background-image: url('./img/down-arrow.png');
      background-size: cover;
      width: 20px;
    }
  }
}

.message-id,
.message-body {
  display:inline-block;
}

pre.message-body {
  width:100%;
  margin:0;
  border: 0px solid transparent;
  border-radius: 5px;
  &.right{
    border-top-right-radius:0;
    color:white;
    background-color:rgba($my_purple,0.9);
  }
  &.left{
    background-color:white;
    border-top-left-radius:0;
  }
}

.message-id {

  img{
    margin:14px;
    max-width:35px;
    max-height:35px;
    border-radius: 50%;
    border-color: transparent;
    background-color:transparent;
  }
  &.right{
    img{
      margin-left:0;
    }
    text-align:left;
    .triangle{
      float:left;
      width: 0; 
      height: 0; 
      border:7px solid transparent;
      border-left: 7px solid rgba($my_purple,0.9);
      border-top: 7px solid rgba($my_purple,0.9);
    }
  }
  &.left{
    text-align:right;
    img{
      margin-right:0;
    }
    .triangle{
      float:right;
      width: 0; 
      height: 0; 
      border:7px solid transparent;
      border-right: 7px solid white;
      border-top: 7px solid white;
    }
  }
}

.my-message{
  margin-bottom:10px;
}

.sticky {
  position:fixed;
  left:16px;
  right:31px;
  z-index:2;
}