/* app css stylesheet */

.main-content {
   margin-top:60px;
  
  .center{
    text-align:center;
  }

  .account-list{
    div:last-child .task-item{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
    }  

    .task-item {
      padding: 15px 20px 15px 10px;
      /*border-bottom:1px solid rgba(0,0,0,0.1);*/
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 3px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      img {
        height: 1.5em;
        position: relative;
        vertical-align: middle;
      }
    }
  }

  .top-nav {
    ul {
      display: inline-block;
    }
    .align-right {
      float: right;
      list-style: none;
    }
  }

  .user-name {
    margin-top: 1px;
    margin-bottom: 30px;
  }

  .account {
    width: 100%;
  }

  ul.menu {
    height: 55px;
  }

  .menu {
    list-style: none;
    li {
      display: inline-block;
      height: 55px;
      line-height: 55px;
      a {
        vertical-align: middle;
        padding-right: 0.3em;
        padding-left: 0.3em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-right: 1px solid blue;
        border-left: 1px solid blue;
        &:last-child {
          border-right: 1px solid transparent;
        }
        &:first-child {
          border-left: 1px solid transparent;
        }
      }
    }
  }

  

  .right-view img {
    height: 1em;
    margin-right: 5px;
    vertical-align: middle;
  }

  .timer {
    display: inline-block;
    vertical-align: middle;
  }

  .paused {
    color: red;
    opacity: 0.5;
  }

  .no-padding {
    padding: 0;
  }

  .padding-bottom {
    padding-bottom: 10px;
  }

  .right-view-title {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .select-default {
    &.select-active {
      opacity: 1;
      border-left: 3px solid rgba(50, 50, 100, 1);
    }
    /*opacity:0.3; */
  }

  .task-status, .task-name, .task-date, .task-summary {
    vertical-align: top;
    display: inline-block;
  }

  .task-date {
   
  }

  .task-priority {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
  }

  .task-date-title {
    font-weight: 700;
    text-align: center;
  }

  img.task-priority {
    line-height: 1.5em;
  }

  .task-summary {
    padding-left: 20px;
    display: inline-block;
    font-weight: 600;
    /*max-width:450px;*/
  }

  .task-title-date {
    padding-right: 20px;
    &:after {
      background-image: url('./img/down-arrow.png');
      background-size: cover;
      width: 20px;
    }
  }
}