<div class="nav-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 nav-item" > 
				<!-- <img src="img/Hal-9000-icon.png" alt="" style="width:35px; float:left; margin-top:5px;"> -->
        <a href="#/task-list">Tasks</a>
      </div>
      <div class="col-xs-8">
				<div class="prefered-name">
					Hello {{userNamePrefered}}, your looking well today.
				</div>
      </div>
      <div class="col-xs-2 version">
        <div class="align-right">Jiragation <span app-version></span></div>
      </div>
    </div>
  </div>
</div> 

<div class="container">
	<div class="account-settings">
		<h4> Update User Information </h4>	
		<div class="user-information"> 
				<div class="row">
					<div class="col-xs-3"><b>First Name</b></div>
					<div class="col-xs-3"><b>Last Name</b></div>
					<div class="col-xs-3"><b>Prefered Name</b></div>
				</div>
				<div class="row">
					<div class="col-xs-3"><input type="text" ng-model="userNameFirst"></div>
					<div class="col-xs-3"><input type="text" ng-model="userNameLast"></div>
					<div class="col-xs-3"><input type="text" ng-model="userNamePrefered"></div>
				</div>			
		</div>

		
		<h4> Update List of Jira Accounts </h4>
		<div class="user-accounts">
			<div class="visible-account">
				<div class="user-account">
					<div class="row">
						<div class="col-xs-3">
							<b>User Name</b>
						</div>
						<div class="col-xs-3">
							<b>Password</b>
						</div>
						<div class="col-xs-3">
							<b>URL</b>
						</div>
					</div>
				</div>
				<div ng-repeat="account in JiraAccounts">
					<div class="user-account">
						<div class="row">
							<div class="col-xs-3">
								{{account.user_name}}
							</div>
							<div class="col-xs-3">
								{{account.password}}
							</div>
							<div class="col-xs-3">
								{{account.url}}
							</div>
							<div class="col-xs-3">
								<button class="button" ng-click="hideAccount($index)"> Hide </button>
								<button class="button" ng-click="delete($index)"> Remove </button>		
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div class="hidden-accounts">
				
			</div> -->
			<!-- <h4> Hidden Accounts </h4>
			<div ng-repeat="account in hiddenJiraAccounts">
				<div class="user-account">
					<div class="row">
						<div class="col-xs-3">
							{{account.user_name}}
						</div>
						<div class="col-xs-3">
							{{account.password}}
						</div>
						<div class="col-xs-3">
							{{account.url}}
						</div>
						<div class="col-xs-3">
							<button class="button" ng-click="showAccount($index)"> Show </button>		
						</div>
					</div>
				</div>
			</div> -->
			<div class="add-account">
				<h4> Add Account </h4>
				<div class="user-add-account">
					<div class="row">
						<div class="col-xs-3">
							<input type="text" ng-model="userName" placeholder="User Name">
						</div>
						<div class="col-xs-3">
							<input type="text" ng-model="password" placeholder="Password">
						</div>
						<div class="col-xs-3">
							<input type="text" ng-model="jiraURL" placeholder="Jira URL">
						</div>
						<div class="col-xs-3">
							<button class="button" ng-click="addAccount(jiraURL, userName, password)"> Add Account </button>		
						</div>
					</div>
				</div>							
			</div>

		</div>
	</div>	
</div>
