<md-dialog aria-label="Account Settings"  ng-controller="userAccountController" ng-cloak flex>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>
				Account Settings
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/svg/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<!-- <div class="prefered-name">
				Hello {{userNamePrefered}}, your looking well today.
			</div> -->
	       
			<div class="account-settings">
				<h4> Update User Information </h4>	
				<div class="user-information"> 
					<form ng-submit="updateUser(userform, userChanges)" name="userform">
						<div layout="row">
							<md-input-container flex="33" flex-sm="100">
								<label>First Name</label>
								<input type="text" ng-model="user.first_name" ng-change="userChanges.first_name = user.first_name" required>
							</md-input-container>

							<md-input-container flex="33" flex-sm="100">
								<label>Last Name</label>
								<input type="text" ng-model="user.last_name" ng-change="userChanges.last_name = user.last_name" required>
							</md-input-container>

							<md-input-container flex="33" flex-sm="100">
								<label>User Name</label>
								<input type="text" ng-model="user.user_name" ng-change="userChanges.user_name = user.user_name" required>
							</md-input-container>
						</div>
						
						<div layout="row" layout-align="start start"> 
							<md-input-container flex flex-sm="100">
								<label>Email Address</label>
								<input type="text" ng-model="user.user_email" ng-change="userChanges.user_email = user.user_email" required>
							</md-input-container>
							<md-button class="md-primary md-raised"  style="margin-top:10px; color:white;" type="submit" flex-sm="100">Save</md-button>
						</div>
					</form>
				</div>

				<hr/>
				<h4> Update List of Jira Accounts </h4>
				<div class="user-accounts">
					<div class="visible-account">
						<div class="user-account">
							<div layout="row">
								<div flex="20">
									<b>User Name</b>
								</div>
								<div flex="20">
									<b>Password</b>
								</div>
								<div flex="35">
									<b>URL</b>
								</div>
							</div>
						</div>
						<div ng-repeat="account in JiraAccounts">
							<div class="user-account">
								<div layout="row">
									<div flex="20" layout="columns" layout-align="left center">
										{{account.user_name}}
									</div>
									<div flex="20" layout="columns" layout-align="left center" class="hover-blur">
										{{account.password}}
									</div>
									<div flex="35" layout="columns" layout-align="left center">
										{{account.protocal}}://{{account.url}}
									</div>
									<span flex></span>
									<div layout="columns" layout-align="left center">
										<md-button class="md-primary md-raised" style="color:white;" ng-click="deleteAccount($event, $index);"> Remove </md-button>	
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>	

				<hr/>
				<h4> Add Account </h4>
				<div class="user-accounts">
					<div class="add-account">
						<form ng-submit="addAccount(accountForm, account)" name="accountForm">
							<div class="user-add-account">
								<div layout="row">
									<md-input-container flex-gt-md="50" flex="100">
										<label>User Name</label>
										<input type="text" ng-model="account.user_name" required >
									</md-input-container>

									<md-input-container flex-gt-md="50" flex="100">
										<label>Password</label>
										<input type="password" ng-model="account.password" required>
									</md-input-container>
								</div>
								<div layout="row">
									<md-input-container flex="100">
										<label>Jira URL</label>
										<input type="text" ng-model="account.jira_url" required>
									</md-input-container>
								</div>
								<div layout="row" layout-align="start start">
									<md-input-container flex>
										<label>Jira Email Account</label>
										<input type="email" ng-model="account.account_email" required>
									</md-input-container>
								</div>
								<div layout="row" flex="100">
									<md-button class="md-primary md-raised" style="color:white;" type="submit" flex="100"> Add Account </md-button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" style="z-index:1">
		<span flex></span>
		<!-- <md-button ng-click="discard()">
			discard
		</md-button>-->
		 <md-button class="md-primary" ng-click="save('useful')">Close</md-button>
	</md-dialog-actions>

</md-dialog>

