<md-dialog aria-label="Add Note"  ng-controller="noteController" ng-cloak flex>
	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>
				Add Note
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/svg/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<form name="note">
		<md-dialog-content>
			<div class="md-dialog-content" layout="row">
				
				<md-input-container class="md-block md-input-has-value" flex="20">
          <label for="message">Task Id</label>
          <input ng-model="note.task_id" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="message" aria-invalid="false">
          <div class="md-errors-spacer"></div>
	      </md-input-container>

				<md-input-container class="md-block md-input-has-value" flex>
          <label for="message">Note</label>
          <input ng-model="note.message" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="message" aria-invalid="false">
          <div class="md-errors-spacer"></div>
	      </md-input-container>

			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" style="z-index:1;">
			<span flex></span>
			<md-button class="md-primary" ng-click="addNote(note);">
				Add
			</md-button>
		</md-dialog-actions>
  </form>

</md-dialog>

